<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body class="bg-gray-100 font-sans">
    <nav class="text-white py-4" role="navigation" aria-label="主导航">
        <div class="container mx-auto flex justify-center items-center">
            <ul class="flex" role="menubar">
               <li role="none"><a href="/index" class="hover:text-gray-200" role="menuitem">主页</a></li>
                <li role="none"><a href="/study_cases" class="hover:text-gray-200" role="menuitem">优秀案例</a></li>
                <li role="none"><a href="#" class="hover:text-gray-200" role="menuitem" aria-current="page">时间历程</a></li>
                <li role="none"><a href="/news" class="hover:text-gray-200" role="menuitem">大会新闻</a></li>
                <li role="none"><a href="/dashboard" class="hover:text-gray-200" role="menuitem">用户</a></li>
            </ul>
        </div>
    </nav>
    <section class="text-center">
            <div class="title-section">
                <h2 id="timeline">成立历经时间</h2>
            </div>
        </section>
        <div class="timeline" role="list" aria-labelledby="timeline">
            <div class="timeline-item left" role="listitem">
                <span class="timeline-date">2002年</span>
                <div class="timeline-content">
                    <p>互联网应用--呼唤创新</p>
                </div>
                <img src="../static/image/A.jpg" alt="2002年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item right" role="listitem">
                <span class="timeline-date">2003年</span>
                <div class="timeline-content">
                    <p>透视互联网,迈向e时代</p>
                </div>
                <img src="../static/image/B.jpg" alt="2005年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item left" role="listitem">
                <span class="timeline-date">2004年</span>
                <div class="timeline-content">
                    <p>构建繁荣、诚信的互联网</p>
                </div>
                <img src="../static/image/C.jpg" alt="2010年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item right" role="listitem">
                <span class="timeline-date">2005年</span>
                <div class="timeline-content">
                    <p>拓展区域合作，把握产业机遇</p>
                </div>
                <img src="../static/image/D.jpg" alt="2015年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item left" role="listitem">
                <span class="timeline-date">2006年</span>
                <div class="timeline-content">
                    <p>创新-互联网带来的机遇</p>
                </div>
                <img src="../static/image/E.jpg" alt="2020年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item right" role="listitem">
                <span class="timeline-date">2007年</span>
                <div class="timeline-content">
                    <p>和谐网络，品质服务</p>
                </div>
                <img src="../static/image/F.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item left" role="listitem">
                <span class="timeline-date">2008年</span>
                <div class="timeline-content">
                    <p>融合促进发展，渗透创造价值</p>
                </div>
                <img src="../static/image/G.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item right" role="listitem">
                <span class="timeline-date">2009年</span>
                <div class="timeline-content">
                    <p>危机·转机·契机 --金融危机下的中国互联网力量与信心</p>
                </div>
                <img src="../static/image/H.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item left" role="listitem">
                <span class="timeline-date">2010年</span>
                <div class="timeline-content">
                    <p>服务-网络价值之本； 绿色-网络发展之道</p>
                </div>
                <img src="../static/image/I.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item right" role="listitem">
                <span class="timeline-date">2011年</span>
                <div class="timeline-content">
                    <p>网络中国-责任与活力</p>
                </div>
                <img src="../static/image/J.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item left" role="listitem">
                <span class="timeline-date">2012年</span>
                <div class="timeline-content">
                    <p>开放·诚信·融合-迎接移动互联新时代</p>
                </div>
                <img src="../static/image/K.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item right" role="listitem">
                <span class="timeline-date">2013年</span>
                <div class="timeline-content">
                    <p>共建良好生态环境，服务美好网络生活</p>
                </div>
                <img src="../static/image/L.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item left" role="listitem">
                <span class="timeline-date">2014年</span>
                <div class="timeline-content">
                    <p>创造无限机会-打造新时代经济引擎</p>
                </div>
                <img src="../static/image/M.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item right" role="listitem">
                <span class="timeline-date">2015年</span>
                <div class="timeline-content">
                    <p>开启互联网+新生态</p>
                </div>
                <img src="../static/image/N.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item left" role="listitem">
                <span class="timeline-date">2016年</span>
                <div class="timeline-content">
                    <p>繁荣网络经济，建设网络强国</p>
                </div>
                <img src="../static/image/O.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item right" role="listitem">
                <span class="timeline-date">2017年</span>
                <div class="timeline-content">
                    <p>广连接·新活力·融实业</p>
                </div>
                <img src="../static/image/P.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item left" role="listitem">
                <span class="timeline-date">2018年</span>
                <div class="timeline-content">
                    <p>融合发展，协同共治--新时代 新征程 新动能</p>
                </div>
                <img src="../static/image/Q.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item right" role="listitem">
                <span class="timeline-date">2019年</span>
                <div class="timeline-content">
                    <p>创新求变再出发，优质发展谱新篇</p>
                </div>
                <img src="../static/image/R.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item left" role="listitem">
                <span class="timeline-date">2020年</span>
                <div class="timeline-content">
                    <p>共迎网络新时代，共创产业新未来</p>
                </div>
                <img src="../static/image/S.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item right" role="listitem">
                <span class="timeline-date">2021年</span>
                <div class="timeline-content">
                    <p>新阶段、新理念、新格局--互联网引领数字经济新发展</p>
                </div>
                <img src="../static/image/T.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item left" role="listitem">
                <span class="timeline-date">2022年</span>
                <div class="timeline-content">
                    <p>发展数字经济，促进数字文明</p>
                </div>
                <img src="../static/image/U.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item right" role="listitem">
                <span class="timeline-date">2023年</span>
                <div class="timeline-content">
                    <p>促进数字融合，赋能千行百业</p>
                </div>
                <img src="../static/image/V.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
            <div class="timeline-item left" role="listitem">
                <span class="timeline-date">2024年</span>
                <div class="timeline-content">
                    <p>推动了我国人工智能产业的快速发展，为经济社会数字化转型提供了强大动力</p>
                </div>
                <img src="../static/image/W.jpg" alt="2024年图片" loading="lazy" width="200" height="150">
            </div>
        </div>

</body>
</html>